.client {
  background-color: $client-background-color;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: -15px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;
    border: 1px solid $social-icon-color;
    border-radius: 4px;
    fill: $social-icon-color;
    // Добавляем анимацию
    transition: fill 250ms $transition-timing-function,
      border 250ms $transition-timing-function;
    &:hover,
    &:focus {
      fill: $accent-color;
      border: 1px solid $accent-color;
    }
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  // &__item + &__item {
  //   margin-left: 30px;
  // }
}
.client__item {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 12 * 15px) / 6);
  }
}
