//Форма подпишить на рассылку
.footer__form-box {
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }

  /* width: 570px; */
  width: 100%;
  .footer__form-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $footer-form-title-color;
  }

  .footer__form-icon {
    fill: $footer-form-icon-color;
    margin-left: 10px;
  }

  .footer__form-sendbtn {
    padding: 10px 29px;
    margin-left: 12px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    //identical to box height, or 187%
    align-items: center;
    letter-spacing: 0.06em;
    color: $footer-form-sendbtn-color;
    background-color: $accent-color;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: background-color 250ms $transition-timing-function;

    &:hover,
    &:focus {
      background-color: $cursor-button-color;
    }
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  .footer__form-input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: $footer-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      border-color: $accent-color;
      color: $primary-white-color;
    }
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  .footer__form-boxsend {
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
  }
  .footer__form-send {
    margin-top: 20px;
  }
}
