//header
.header {
  // text-align: center;
  border-bottom: 1px solid $border-color;
  max-width: 1600px;
  margin: 0px auto;

  a:hover,
  a:focus {
    color: $accent-color;
  }
  &__box {
    justify-content: space-between;
    display: flex;
    align-items: center;

    // justify-content: center;
    @media screen and (min-width: $mobile) {
      height: 60px;
    }
    @media screen and (min-width: $tablet) {
      height: 80px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      height: 80px;
    }
  }
  &__menu {
    // justify-items: center;
    align-items: center;
    display: flex;
    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      // display: flex;
    }
  }
  &__menu-list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $tablet) and (max-width: 1200px) {
      margin-left: 88px;
    }
  }
  &__menu-item {
    position: relative;
  }
  &__menu-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    // Добавляем анимацию
    transition: color 250ms $transition-timing-function;
  }
  &__menu-list &__menu-item + &__menu-item {
    margin-left: 50px;
  }
  &__menu-link--active {
    color: $accent-color;
  }
  &__line--active {
    position: relative;
    bottom: -33px;
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      bottom: 0px;
      left: 0px;
      position: absolute;
    }
  }
  &__contact-list {
    margin-left: auto;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }
  &__contact-item {
    fill: currentColor;
    @media screen and(max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and(min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $contact-text-color;

    // Добавляем анимацию
    transition: color 250ms $transition-timing-function;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      padding: 32px 0px;
      align-items: center;
    }
  }
  &__contact-icon {
    margin-right: 10px;
    fill: currentColor;
    // Добавляем анимацию
    transition: fill 250ms $transition-timing-function;
  }
  &__contact-list &__contact-item + &__contact-item {
    @media screen and(min-width: 1200px) {
      margin-left: 50px;
    }
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 22px;

  &:focus,
  &:hover {
    fill: $accent-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $button-white-color;
  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;
    padding: 48px 40px;
  }

  &__close-btn {
    padding: 0;
    border: none;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.close-mobile {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: $button-white-color;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $accent-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.nav-list {
  @extend %list;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &_link:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.contacts-list {
  @extend %list;
  margin-top: auto;
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    @extend %link;

    &--tell {
      font-weight: 500;
      font-size: 8vw;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $accent-color;

      @media screen and (min-width: 480px) {
        font-size: 34px;
      }
    }

    &--mail {
      @include fontStyle(24px, null, var(--primary-text-color), 0.02em);
    }
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.social-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu {
  @extend %list;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 88px;
  }
}

.contacts__list {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__item {
  @media screen and(max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and(min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__link {
  @include fontStyle(12px, 1.16, var(--primary-text-color), 0.02em, 500);
  @extend %link;

  @media screen and (min-width: 1200px) {
    @include fontStyle(14px, 1.14, var(--primary-text-color), 0.02em, 500);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item {
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
