.team {
  // Изменяет фон
  background-color: $portfolio-button-color;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  // max-width: 1600px;
  // margin: 0px auto;
  &__title {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      // padding-top: 94px;
      padding-bottom: 94px;
      max-width: 1200px;
    }
  }

  &__item {
    background-color: $team-item-color;
    // material shadow
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media (max-width: 390px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
      margin: 15px;
      width: calc((100% - 8 * 15px) / 4);
    }
  }
  &__item + &__item {
    // margin-left: 30px;
    @media screen and (min-width: 1200px) {
    }
  }
  &__box {
    padding: 30px 32px;
  }
  // Изменяет текст заголовков h3 имя и фамилия команды
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    // identical to box height
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  // Изменяет текст должности
  &__text {
    font-size: 16px;
    line-height: 19px;
    // identical to box height
    text-align: center;
    letter-spacing: 0.03em;
    color: $team-text-color;
  }
  &__social-list {
    display: flex;
    margin-top: 16px;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (max-width: 1199px) {
      justify-content: center;
    }
  }
  &__social-link {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $team-background-color;
    transition: background-color 250ms $transition-timing-function;
    &:hover,
    &:focus {
      background-color: $accent-color;
      .team__social-icon {
        fill: $social-hover-color;
      }
    }
    display: flex;

    @media screen and (min-width: $mobile) {
    }
    @media screen and (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
    }
  }
  &__social-item + &__social-item {
    margin-left: 10px;
  }

  &__social-icon {
    fill: $social-icon-color;
    // Добавляем анимацию
    transition: fill 250ms $transition-timing-function;
  }
}
