// Фон модального окно на ширину вьюпорта
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  // модальное окно высвечиваеться
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear, transform 1s;
}

// Модальное окно
.modal-window {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  // @media screen and (min-width: $mobile) {
  // }
  @media (max-width: 390px) {
    width: 350px;
    height: 609px;
  }
  @media screen and (min-width: $tablet) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
}
// кнопка закрыть
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  cursor: pointer;
  padding: 0px;
}
// Прячем модальное окно
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: translate(30%, 50%); */
  transform: scale(0.1);
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form {
  &__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: $modal-form-label;
    margin-bottom: 4px;
    display: inline-block;
  }
  &__box {
    position: relative;
    margin-bottom: 10px;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid $modal-form-input;
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  }
  &__icon {
    position: absolute;
    left: 12px;
    transform: translateY(-50%);
    top: 50%;
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $accent-color;
  }

  &__comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
    &:hover,
    &:focus {
      border-color: $accent-color;
    }
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: $textarea;
    }
  }
  &__comment-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__modal-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid $text-color;
    display: block;
    border-radius: 2px;
    margin-right: 8px;

    @media (max-width: 390px) {
      width: 20px;
      height: 15px;
    }
  }

  &__checkbox-input:focus + &__modal-checkbox {
    border-color: $accent-color;
  }

  &__checkbox-input:checked + &__modal-checkbox {
    background-color: $accent-color;
    background-image: url(/images/svg/modal_form/vector.svg);
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
  }

  &__check-accept {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    color: $portfolio-color-title;
    display: inline-block;
  }

  &__check-order {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
  }
}
.close-btn:hover,
.close-btn:focus {
  fill: $accent-color;
  border-color: $accent-color;
}
