//body
body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
a {
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
