$primary-white-color: #ffffff;
$hero-background-color: #2f303a;
$footer-background-color: #2f303a;
$cursor-button-color: #188ce8;
$text-color: #212121;
$text-white-color: #ffffff;
$logo-header-first-color: #2196f3;
$logo-header-second-color: #212121;
$logo-footer-first-color: #2196f3;
$logo-footer-second-color: #ffffff;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$contact-text-color: #757575;
$accent-color: #2196f3;
$button-white-color: #ffffff;
$title-white-color: #ffffff;
$modal-form-input: rgba(33, 33, 33, 0.2);
$modal-form-label: #757575;
$textarea: rgba(117, 117, 117, 0.5);
$features-wall-color: #f5f4fa;
$features-text-color: #757575;
$services-background-tmumb: rgba(47, 48, 58, 0.8);
$team-text-color: #757575;
$team-item-color: #ffffff;
$team-background-color: #ffffff;
$social-icon-color: #afb1b8;
$social-hover-color: #ffffff;
$client-background-color: #ffffff;
$footer-background-color: #2f303a;
$footer-item-color: rgba(255, 255, 255, 0.6);
$footer-icon-color: rgba(255, 255, 255, 0.1);
$footer-social-link-fill: #ffffff;
$footer-form-icon-color: #ffffff;
$footer-form-title-color: #ffffff;
$footer-form-sendbtn-color: #ffffff;
$portfolio-color-title: #757575;
$portfolio-button-color: #f5f4fa;
$border-portfolio-color: #eeeeee;
$primary-text-color: rgba(0, 0, 0, 0.8);
$title-text-color: #000000;
$cursor-button-color: #188ce8;
$primary-white-color: #ffffff;
$text-color-white: #ffffff;
$text-footer: #ffffff99;
$border-color: #ececec;
